<!DOCTYPE html>
<html lang="en">

<div style="height: 500px;">
    <form class="form-waypoint text-center" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Submit Waypoints</h1>
        
        <label for="inputX1" class="sr-only">X1</label>
        <input type="number" step="0.1" id="inputX1" name="inputX1" class="form-control" placeholder="Enter x coordinate 1" required autofocus>
        <p></p>
        <label for="inputY1" class="sr-only">Y1</label>
        <input type="number" step="0.1" id="inputY1" name="inputY1" class="form-control" placeholder="Enter y coordinate 1" required autofocus>
        <p></p>
        <label for="inputX2" class="sr-only">X2</label>
        <input type="number" step="0.1" id="inputX2" name="inputX2" class="form-control" placeholder="Enter x coordinate 2" required autofocus>
        <p></p>
        <label for="inputY2" class="sr-only">Y2</label>
        <input type="number" step="0.1" id="inputY2" name="inputY2" class="form-control" placeholder="Enter y coordinate 2" required autofocus>
        <p></p>

        <button class="btn btn-lg btn-dark btn-block" type="submit">Submit Waypoints</button>
    </form>
    <p></p>
    <p></p>
    <a href="http://localhost:5000/cancel">Cancel Navigation</a>
</div>

</html>